* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: tahoma;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.main-heading {
  position: relative;
}
.main-heading h2 {
  background-color: #e2494c;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px auto;
}
.main-heading::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #9c9c9c;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
}

/* Start Header */
header {
  padding: 20px 0;
  border-bottom: 1px solid #9c9c9c;
}
header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .container i {
  display: none;
  font-size: 25px;
  color: #e2494c;
  cursor: pointer;
}
@media (max-width: 991px) {
  header .container i {
    display: block;
  }
}
header .container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  background-color: #e2494c;
  border-radius: 10px;
  position: relative;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
@media (max-width: 991px) {
  header .container ul {
    overflow: hidden;
    position: absolute;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 15px;
    padding-right: 15px;
    left: 0;
    margin-top: 30px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 194px;
  }
  header .container ul li:not(:last-child) {
    margin-bottom: 5px;
  }
}
header .container ul.colsed {
  height: 0;
}
header .container ul li:last-of-type div {
  opacity: 0;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  width: 100px;
  background-color: #e2494c;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .container ul li:last-of-type:hover div {
  opacity: 1;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}
@media (max-width: 991px) {
  header .container ul li:last-of-type:hover div {
    width: 86%;
    text-align: start;
    -webkit-transform: translateY(-19px);
            transform: translateY(-19px);
  }
}
header .container ul a {
  color: #fff;
  display: block;
  padding: 15px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 991px) {
  header .container ul a {
    padding: 0;
  }
}
header .container ul a:hover {
  color: #ddd;
}

[dir=rtl] header li:last-of-type div {
  right: auto !important;
  left: 0;
}

/* End Header */
/* Start Slider */
.slider {
  padding: 30px 0;
}
.slider .quote {
  font-style: italic;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.6;
  width: 80%;
  text-align: center;
  margin: auto;
}
.slider .imgs {
  margin-top: 30px;
  text-align: center;
}
.slider .imgs img {
  max-width: 100%;
  width: 680px;
}
.slider .bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 15px;
}
.slider .bullets span {
  width: 20px;
  height: 20px;
  background-color: #9c9c9c;
  border-radius: 50%;
  border: 3px solid transparent;
  cursor: pointer;
}
.slider .bullets span.active {
  border-color: #000;
  background-color: #fff;
}

/* End Slider */
/* Start Services */
.serves {
  padding: 50px 0;
}
.serves .servecis-box {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.serves .servecis-box .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  color: #5a5a5a;
}
.serves .servecis-box .title i {
  font-size: 40px;
}
.serves .servecis-box .descreption-box {
  line-height: 1.6;
  color: #666;
}
.serves .servecis-box .link {
  color: #e2494c;
  font-weight: bold;
}

/* End Services */
/* Start Team */
.team .team-box {
  padding: 20px 0;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}
.team .team-box .title {
  color: #666;
}
.team .team-box .title img {
  max-width: 100%;
}
.team .team-box .title span {
  font-weight: bold;
}
.team .team-box .descreption-box {
  color: #777;
  line-height: 1.6;
}
.team .team-box a {
  color: #e2494c;
  font-weight: bold;
}

/* End Team */
/* Start Lorem Ipsum */
.lorem-ipsum {
  padding: 50px 0;
}
.lorem-ipsum .imgs {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.lorem-ipsum .imgs img {
  max-width: 100%;
}

/* End Lorem Ipsum */
/* Start Footer */
footer {
  background-color: #ddd;
  overflow: hidden;
}
footer .container {
  display: -ms-grid;
  display: grid;
  gap: 30px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  footer .container {
    -ms-grid-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
    grid-template-columns: 33.3333333333% 33.3333333333% 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  footer .container {
    -ms-grid-columns: 50% 25% 25%;
    grid-template-columns: 50% 25% 25%;
  }
}
@media (min-width: 1200px) {
  footer .container .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px;
  }
}
footer .container .box h4 {
  color: #e2494c;
}
footer .container .box p {
  color: #777;
  line-height: 1.6;
}
footer .container .info ul {
  color: #777;
}
footer .container .info ul span {
  color: #e2494c;
  font-weight: bold;
}
footer .container .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
footer .container .contact input,
footer .container .contact textarea {
  border: none;
  width: 230px;
  margin: 10px 0;
  padding: 10px;
}
footer .container .contact textarea {
  height: 100px;
  resize: none;
}
footer .container .contact button {
  padding: 5px 8px;
  border-radius: 6px;
  background-color: #e2494c;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

/* End Footer */
/*# sourceMappingURL=homepage.css.map */